# This is Git's per-user configuration file.
[user]
	name = github-actions[bot]
	email = github-actions[bot]@users.noreply.github.com
# Please adapt and uncomment the following lines:
#	name = Robert Beene
#	email = robert@ismly.com
[push]
	autoSetupRemote = true
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
